<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xiaoshuyui.simplekb.mapper.KbFileChunkMapper">

    <resultMap id="kbFileChunkResultMap" type="org.xiaoshuyui.simplekb.entity.KbFileChunk">
        <id property="id" column="chunk_id"/>
        <result property="fileId" column="file_id"/>
        <result property="content" column="chunk_content"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <select id="searchByKeywords" parameterType="map" resultMap="kbFileChunkResultMap">
        SELECT *
        FROM kb_file_chunk
        WHERE MATCH (chunk_content)
            AGAINST(#{keywords} IN BOOLEAN MODE);
    </select>
</mapper>